<div class="card mb-4 box-shaddow">
  <div class="card-body">
		<p class="h4 currency">{{ wallet.currency }}</p>
		<div class="subtitle">
			<p class="card-subtitle mb-2 text-muted name">{{ wallet.name }}</p>
		</div>
		<div class="card-img qr-wrapper">
			<img class="qrcode" src="{{ qrData }}" draggable="false"/>
		</div>
		<p class="address">{{ wallet.address }}</p>
		<div *ngIf="onOwnProfile()" class="wallet-buttons">
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-outline-secondary">
						<mat-icon svgIcon="arrow-left-bold"></mat-icon>
					</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">
						<mat-icon svgIcon="arrow-right-bold"></mat-icon>
					</button>
				</div>
				<div class="btn-group">
					<button type="button" class="btn del-btn btn-sm btn-outline-secondary"
										(click)="delete()">
						<mat-icon svgIcon="delete"></mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>